FC = gfortran
FCFLAGS = -O3 -g -fcheck=all -fbacktrace \
          -fmax-errors=3 -fimplicit-none \
	       -D__HAS_IQP -D__HAS_QP \
          -D__MAX_RANK=15
#FCFLAGS = -O3 -fmax-errors=3 -fimplicit-none
FCWFLAGS = -Wall -Wextra -Wpedantic -Wsurprising
